---
title: 404 Not Found :*(**
---

<section class="content">
  <div class="container">
    <p>I couldn't find the note you're looking for, sorry :(</p>
    <p><%= link_to "Return home", "/" %></p>
  </div>
</section>
