---
title: About Josh's Notes
---

<section class="content">
  <div class="container">
    <p><%= image_tag "/images/under-construction.gif", width: "150" %></p>
    <p>This is my digital garden, generated from <%= link_to "Roam Research", "http://roamresearch.com/#/app/joshuawood-garden" %>.</p>
    <p><%= link_to "Follow me on Twitter", "https://twitter.com/heyjoshwood" %></p>
  </div>
</section>