---
title: Josh's Notes
---

<div class="container daily-notes">
  <% daily_notes.each_with_index do |resource, index| %>
    <article class="roam-page">
      <h1><%= resource.data[:title] %></h1>
      <%= render_page_content(resource.data[:page]) %>
    </article>
  <% end %>
</div>